body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: black;
}

.main{
    background-color: rgb(55, 54, 54);
    max-width: 600px;
    min-width: 300px;
    margin:auto;
}


